*{
	box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
	margin:0 auto;
}
body{
	display:grid;
	grid-template-rows: 8fr 1fr;
	height:100vh;
}
.canvasContainer{
	position:relative;
	overflow:hidden;
}
canvas{
	position:absolute;
	top:0;
	left:0;
}
.drips{
	z-index:9999;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
	}
}